<div data-hook="news">
  <div>
    <h1>
      <%= post.title %>
    </h1>
    <h6>
      <%= post.event_month %>
    </h6>
    <h6>
      <%= post.event_day %>
    </h6>
    <h6>
      <%= post.event_year %>
    </h6>
    <h6>
      <%= post.event_time %>
    </h6>
    <%= @post.description.html_safe %>
  </div>
</div>
