<div data-hook="news">
  <div>
    <h6>
      <%= l(post.event_month) %>
    </h6>
    <h6>
      <%= l(post.event_day) %>
    </h6>
    <h6>
      <%= l(post.event_year) %>
    </h6>
    <h6>
      <%= l(post.event_year) %>
    </h6>
    <h1>
      <%= @post.title %>
    </h1>
    <%= @post.description.html_safe %>
  </div>
</div>
