<p><%= f.label :title, Spree::Post.human_attribute_name(:title) %></p>
<p><%= f.text_field :title %></p>
<p><%= f.label :event_date, Spree::Post.human_attribute_name(:event_date) %></p>
<p><%= f.datetime_select :event_date %></p>
<p><%= f.label :event_venue, Spree::Post.human_attribute_name(:event_venue) %></p>
<p><%= f.text_field :event_venue %></p>
<p><%= f.label :event_link, Spree::Post.human_attribute_name(:event_link) %></p>
<p><%= f.text_field :event_link %></p>
<p><%= f.label :published, Spree::Post.human_attribute_name(:published) %></p>
<p><%= f.check_box :published %></p>
