<% if Spree::Post.published.any? %>
  <div class="news-ticker eight columns">
    <h3>Events Calendar</h3>
    <p></p>
    <div id="news-container">
      <ul>
        <% Spree::Post.published.each do |post| %>
          <li>
            <div>
              <h6>
                <%= post.event_month %>
              </h6>
              <h6>
                <%= post.event_day %>
              </h6>
              <h6>
                <%= post.event_year %>
              </h6>
              <h6>
                <%= post.event_time %>
              </h6>
              <%= post.title %>
              <%= post.description %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <script>
    $(function(){
      $('#news-container').vTicker({
        speed: 1000,
        pause: 4000,
        animation: 'fade',
        mousePause: true,
        showItems: 1
      });
    });
  </script>
<% end %>
