<% if Spree::Post.published.any? %>
  <div class="events-header">
    <h3>Performances</h3>
  </div>
  <div class="events-container">
    <ul>
      <% Spree::Post.published.order(:event_date).each do |post| %>
        <li>
          <div class="event">
            <div class="date-left">
              <h6>
                <%= post.event_date.strftime("%a") %>
              </h6>
              <h5>
                <%= post.event_date.strftime("%-d") %>
              </h5>
              <h6>
                <%= post.event_date.strftime("%b") %>
              </h6>
            </div>
            <div class="date-pointer">
            </div>
            <div class="time">
              <h1><%= post.event_date.strftime("%l:%M%P") %></h1>
              <h2><%= post.event_venue %></h2>
            </div>
            <div class="event-info">
                <h2><%= post.title %></h2>
                <a id="details-toggle" href="#">details</a>
            </div>
          </div>
          <div id="event-details" class="event-details">
              <p><%= post.description %></p> <%= link_to 'more info', post.event_link %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
